#sidebar{
    z-index: 9;
    position: fixed;
    float: left;
    width: 192px;
    text-align: center;
    background-color: #F0F0F0;
    height: 100%;
    font-family:"Raleway";
    font-size: 20px;
    padding-top: 150px;
}