@()(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hello from SimulatingFUAS-frontend", mainClass = Some("full-width")) {

  <h3>This is an example client service that uses the basic and advanced features of the FU service.
    This is to help get experience of how the service works, but also be able to demonstrate to other users how to integrate with it.</h3>

  <h3>Enter your user name and password to proceed. If you don't have one or would like to find out more about FUAAS, please contact team
    fuass on slack (#team-fuass)</h3>

  https://github.com/hmrc/file-upload/blob/master/README.md<br>
  https://github.com/hmrc/file-upload-frontend/blob/master/README.md

}