@(inf: String)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hello from SimulatingFUAS-frontend") {


  <h3>&nbsp&nbsp&nbsp Please enter an envelopes' id:</h3>

  @helper.form(uk.gov.hmrc.SimulatingFUAS.controllers.routes.EnvelopeController.loadEnvelopeInf) {

    @helper.CSRF.formField

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input name="envelopes'ID"  style="width:510px;"  type="text" placeholder="envelopes'ID">

    <p>
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="submit"/>
    </p>

    <pre>@inf</pre>

  }
}