@import uk.gov.hmrc.SimulatingFUAS.controllers.File

@(files: List[File])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hello from SimulatingFUAS-frontend") {

  <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp All Files Show as Below:</h3>

  <div>

    <table class=highlight>

      <thead>
        <tr>
          <th>Envelope ID</th>
          <th>File ID</th>
          <th>File Ref</th>
          <th>Started At</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for(file <- files){
            <tr>
                <td>&nbsp<a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.EnvelopeController.loadEnvelopeInfRE(file.EnvelopeID)">@file.EnvelopeID</a> &nbsp&nbsp&nbsp</td>
                <td>&nbsp&nbsp&nbsp@file.FileID &nbsp&nbsp&nbsp</td>
                <td>&nbsp&nbsp&nbsp@file.FileRef &nbsp&nbsp&nbsp</td>
                <td>&nbsp&nbsp&nbsp <script language="JavaScript">document.write(new Date(@file.startedAt).toGMTString());</script> &nbsp&nbsp&nbsp</td>
            </tr>
        }

      </tbody>

    </table>

  </div>
}