@(id: String)(implicit request: Request[_])

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hello from SimulatingFUAS-frontend", bodyClasses = None) {

    <script language="JavaScript">
        function popupMsg(msg) {
            alert(msg);
        }
    </script>

    <h1> Your Envelopes' Id is :</h1>
    @id

    <h3> Your can upload files now:</h3>
    @helper.form(uk.gov.hmrc.SimulatingFUAS.controllers.routes.NewEnvelopesController.upLoadingFiles(id), 'enctype -> "multipart/form-data") {

        @helper.CSRF.formField

        <input type="file" name="File">

        <p>
            <input type="submit" onclick="popupMsg('Continue')"/>
        </p>

    }
}