@(id: String)(implicit request: Request[_])

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hello from SimulatingFUAS-frontend", bodyClasses = None) {

    <script language="JavaScript">
        function popupMsg(msg) {
            alert(msg);
        }
    </script>

    <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Your Envelopes' Id is :</h1>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  @id

    <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Your can upload files now:</h3>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @helper.form(uk.gov.hmrc.SimulatingFUAS.controllers.routes.NewEnvelopesController.upLoadingFiles(id), 'enctype -> "multipart/form-data") {

        @helper.CSRF.formField

        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="file" name="File">

        <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input type="submit" onclick="popupMsg('Continue')"/>
        </p>

    }
}