@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.layouts

@serviceInfoContent = {
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.EnvelopeController.main"><input type="button" style="width:210px;" value="View An Envelope"/></a>
    <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.FilesController.main"><input type="button" style="width:210px;" value="View Files"/></a>
    <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.NewEnvelopesController.callCreateAnEnvelope"><input type="button" style="width:210px;" value="Create An Envelope And Upload"/></a>
    <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.LoginController.about"><input type="button" style="width:210px;" value="About the App"/></a>
}

@sidebar = {}


@govuk_wrapper(appConfig = uk.gov.hmrc.SimulatingFUAS.config.FrontendAppConfig,
               title = title,
               sidebar = sidebar,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               contentHeader = contentHeader,
               mainContent = layouts.article(mainContent),
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem
)

