@()(implicit request: Request[_], messages: Messages)

<div class="form-group">
  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.NewEnvelopesController.startAnJourney">
    <input class="button" type="submit" style="width:330px;" value="Create An Envelope And Upload Files"/>
  </a>
  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.EnvelopeController.main">
    <input class="button" type="submit" style="width:170px;" value="View An Envelope"/>
  </a>
  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.FilesController.main">
    <input class="button" type="submit" style="width:200px;" value="View Files in Progress"/>
  </a>
  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.LoginController.about">
    <input class="button" type="submit" style="width:150px;" value="About this App"/>
  </a>
</div>
