@import uk.gov.hmrc.ReleaseNotes.controllers.routes

@(serverDetails: Seq[String])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.ReleaseNotes.views.html.main_template(title = "Release Notes", mainClass = Some("full-width")) {
  <h2>Release Notes</h2>

  <table>
    <thead>

    </thead>
    <tbody>
      <tr>
        <td><h3>Team Name</h3></td>
        <td><h3></h3></td>
      </tr>
    @serverDetails.map { name =>
    <tr>
      <td><h3>@name</h3></td>
      <td><h3><a href="@routes.ReleaseRepoController.getServiceReleaseNotes(name)">View</a></h3></td>
    </tr>
    }
    </tbody>
  </table>

  <div><a class="button" href="@routes.ReleaseRepoController.getRepoList()">List by repos</a></div>
  </br>
  <div><a class="button" href="@routes.ReleaseRepoController.getAddAService()">Add another Service</a></div>
}