@import uk.gov.hmrc.SimulatingFUAS.controllers.routes

@(serverDetails: Seq[String])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hackathon Release Notes", mainClass = Some("full-width")) {
  <h2>Release Notes</h2>

  <table>
    <thead>

    </thead>
    <tbody>
    @serverDetails.map { name =>
    <tr>
      <td><h3>@name</h3></td>
      <td><h3><a href="@routes.LoginController.getServiceReleaseNotes(name)">View</a></h3></td>
    </tr>
    }
    </tbody>
  </table>

  <div><a class="button" href="@routes.LoginController.getAddAService()">Add another Service</a></div>
}