@import uk.gov.hmrc.SimulatingFUAS.controllers.RepoDetails
@import uk.gov.hmrc.SimulatingFUAS.controllers.routes

@(serverDetails: Seq[RepoDetails])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hackathon Release Notes", mainClass = Some("full-width")) {

  <h1>Release Notes for @serverDetails.head.serviceName</h1>


  <table>
    <thead>

    </thead>
    <tbody>
      <tr>
        <td><h2>Repo Name</h2></td>
        <td><h2>Release Number</h2></td>
        <td><h2>Release Notes</h2></td>
      </tr>
      @serverDetails.map { case RepoDetails(repoName, serviceName, version, date, link) =>
      <tr>
        <td><h3>@repoName</h3></td>
        <td><h3>@version</h3></td>
        <td><h3><a href="@routes.LoginController.getRepoReleaseNotes(repoName)">Notes</a></h3></td>
      </tr>
      }
    </tbody>
  </table>

  <div><a class="back-link" href="@routes.LoginController.getServiceList()">Back</a></div>
}