@import uk.gov.hmrc.SimulatingFUAS.controllers.routes
@import uk.gov.hmrc.SimulatingFUAS.views.html

@(id: String, inf: String)(implicit request: Request[_], messages: Messages)

@html.main_template(title = "SimulatingFUAS-frontend", mainClass = Some("full-width")) {

  @html.envelope_views.envelope_main_template("")

  <div  class="form-group">

    <h3>For the envelope:@id</h3>

    <p>
      <a role="button" href="@routes.EnvelopeController.loadEnvelopeInfRE(id)">
        <input class="button button--table" type="submit" style="width:200px;" value="Details"/>
      </a>
      <a role="button" href="@routes.EnvelopeController.loadEnvelopeEve(id)">
        <input class="button button--table" type="submit" style="width:200px;" value="Events"/>
      </a>
      <a role="button" href="@routes.EnvelopeController.replay(id)">
        <input class="button button--table" type="submit" style="width:200px;" value="RePlay"/>
      </a>
    </p>

    <pre>@inf</pre>

  </div>
}