@(inf: String)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "SimulatingFUAS-frontend", mainClass = Some("full-width")) {
  @uk.gov.hmrc.SimulatingFUAS.views.html.main_base()

  <h3>Please enter an envelopes' id:</h3>

  @helper.form(uk.gov.hmrc.SimulatingFUAS.controllers.routes.EnvelopeController.loadEnvelopeInf) {

    @helper.CSRF.formField

    <input name="envelopes'ID" style="width:510px;" type="text" placeholder="envelopes'ID">

    <p>
      <input class="button" type="submit"/>
    </p>

  }

  @inf
}