@(id: String)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "SimulatingFUAS-frontend", mainClass = Some("full-width")) {
    @uk.gov.hmrc.SimulatingFUAS.views.html.main_base()

    <h2>Your Envelopes' Id is :</h2>

    <h3>@id</h3>

    <h3>Your can upload files now:</h3>

    @helper.form(uk.gov.hmrc.SimulatingFUAS.controllers.routes.NewEnvelopesController.upLoadingFiles(id), 'enctype -> "multipart/form-data") {

        @helper.CSRF.formField

        <input type="file" name="File">

        <p><input class="button" type="submit"/></p>

    }
}