@import uk.gov.hmrc.SimulatingFUAS.models.FileInProgress
@import uk.gov.hmrc.SimulatingFUAS.controllers.routes

@(files: List[FileInProgress])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "SimulatingFUAS-frontend", mainClass = Some("full-width")) {

  <h3>All files in quarantine:</h3>

  <div>

    <table class=highlight>

      <thead>
        <tr>
          <th><span>Envelope ID</span></th>
          <th><span>File ID</span></th>
          <th><span>File Ref</span></th>
          <th><span>Started At</span></th>
          <th><span>Operations</span></th>
        </tr>
      </thead>

      <tbody>
        @for(file <- files){
            <tr>
                <td>
                  <a href="@routes.EnvelopeController.loadEnvelopeInfRE(file.envelopeID)">
                    @file.envelopeID
                  </a>
                </td>
                <td>@file.fileID</td>
                <td>@file.fileRef</td>
                <td>
                  <script language="JavaScript">document.write(new Date(@file.startedAt).toGMTString());</script>
                </td>
                <td>
                  <a href="@routes.FilesController.deleteInProgressFile(file.fileRef)">
                    <input class="button" type="submit" style="width:90px;" value="Delete"/>
                  </a>
                  <a href="@routes.FilesController.scan(file.envelopeID, file.fileID, file.fileRef)">
                    <input class="button" type="submit" style="width:90px;" value="Rescan"/>
                  </a>
                  <a href="@routes.FilesController.moveToTransientStore(file.envelopeID, file.fileID, file.fileRef)">
                    <input class="button" type="submit" style="width:90px;" value="Move"/>
                  </a>
                </td>
            </tr>
        }
      </tbody>

    </table>

  </div>
}