@import uk.gov.hmrc.SimulatingFUAS.models.FileInProgress
@import uk.gov.hmrc.SimulatingFUAS.controllers.routes.FilesController._

@(files: List[FileInProgress])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hello from SimulatingFUAS-frontend", mainClass = Some("full-width")) {
  @uk.gov.hmrc.SimulatingFUAS.views.html.main_base()

  <h3>All Files Show as Below:</h3>

  <div>

    <table class=highlight>

      <thead>
        <tr>
          <th><span>Envelope ID</span></th>
          <th><span>File ID</span></th>
          <th><span>File Ref</span></th>
          <th><span>Started At</span></th>
          <th><span>Operations</span></th>
        </tr>
      </thead>

      <tbody>
        @for(file <- files){
            <tr>
                <td>
                  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.EnvelopeController.loadEnvelopeInfRE(file.envelopeID)">
                    @file.envelopeID
                  </a>
                </td>
                <td>@file.fileID</td>
                <td>@file.fileRef</td>
                <td>
                  <script language="JavaScript">document.write(new Date(@file.startedAt).toGMTString());</script>
                </td>
                <td>
                  <a href="@deleteInProgressFile(file.fileRef)">
                    <input class="button" type="submit" style="width:90px;" value="Delete"/>
                  </a>
                  <a href="@scan(file.envelopeID, file.fileID, file.fileRef)">
                    <input class="button" type="submit" style="width:90px;" value="Rescan"/>
                  </a>
                  <a href="@moveToTransientStore(file.envelopeID, file.fileID, file.fileRef)">
                    <input class="button" type="submit" style="width:90px;" value="Move"/>
                  </a>
                </td>
            </tr>
        }
      </tbody>

    </table>

  </div>
}