@import uk.gov.hmrc.SimulatingFUAS.models.FileInProgress

@(files: List[FileInProgress])(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "Hello from SimulatingFUAS-frontend", mainClass = Some("full-width")) {
  @uk.gov.hmrc.SimulatingFUAS.views.html.main_base()

  <h3>All Files Show as Below:</h3>

  <div>

    <table class=highlight>

      <thead>
        <tr>
          <th><span>Envelope ID</span></th>
          <th><span>File ID</span></th>
          <th><span>File Ref</span></th>
          <th><span>Started At</span></th>
          <th><span>Operations</span></th>
        </tr>
      </thead>

      <tbody>
        @for(file <- files){
            <tr>
                <td>
                  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.EnvelopeController.loadEnvelopeInfRE(file.EnvelopeID)">
                    @file.EnvelopeID
                  </a>
                </td>
                <td>@file.FileID</td>
                <td>@file.FileRef</td>
                <td>
                  <script language="JavaScript">document.write(new Date(@file.startedAt).toGMTString());</script>
                </td>
                <td>
                  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.FilesController.deleteInProgressFile(file.FileRef)">
                    <input class="button" type="submit" style="width:110px;white-space: nowrap;" value="Delete"/>
                  </a>
                  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.FilesController.scan(file.EnvelopeID, file.FileID, file.FileRef)">
                    <input class="button" type="submit" style="width:110px;white-space: nowrap;" value="Rescan"/>
                  </a>
                  <a href="@uk.gov.hmrc.SimulatingFUAS.controllers.routes.FilesController.move(file.EnvelopeID, file.FileID, file.FileRef)">
                    <input class="button" type="submit" style="width:110px;white-space: nowrap;" value="Move"/>
                  </a>
                </td>
            </tr>
        }
      </tbody>

    </table>

  </div>
}