@import uk.gov.hmrc.SimulatingFUAS.controllers.routes

@(id: String, routingMessage: String, downLoadMessage: String)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.SimulatingFUAS.views.html.main_template(title = "SimulatingFUAS-frontend", mainClass = Some("full-width")) {

  <h2>Your Envelopes' Id is :</h2>

  <h2>@id</h2>

  @routingMessage<br>

  <h4 style="color:royalblue;">
    @downLoadMessage <br>
  </h4>

  <h4>
    Download Request(GET): http://localhost:8898/file-upload/envelopes/{{envelopeId}}/files/{{fileId}}/content<br>
  </h4>

  @helper.form(routes.NewEnvelopesController.downloadFileAfterRouted(id)) {

    @helper.CSRF.formField

    <h4>
      Please enter your fileId
    </h4>

    <input name="fileId" style="width: 510px;" type="text" placeholder="usually it is the file's name">

    <button name="action" type="text" value="download">Download A File</button>

  }

  <br>

  <h4>
    Download the envelope as a zip file <br>
    Download Request(GET): http://localhost:8898/file-transfer/envelopes/{{envelopeId}}<br>
  </h4>

  @helper.form(routes.NewEnvelopesController.downloadEnvelope(id)) {

    @helper.CSRF.formField

    <button name="action" type="text" value="download">Download Envelope</button>

  }

  <h4>
    Delete the envelope the last step<br>
    Delete Request(DELETE): http://localhost:8898/file-transfer/envelopes/{{envelopeId}}<br>
  </h4>

  @helper.form(routes.NewEnvelopesController.deleteRoutedEnvelope(id)) {

    @helper.CSRF.formField

    <button name="action" type="text" value="download">Delete the Envelope</button>

  }
}